.services-container {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  /* grid-template-columns: auto auto auto; */
  background-color: #ffffff;

}
.services-single-data {
  margin:   50px 10px;
  background-color:rgb(255, 255, 255);
  
  padding: 20px;
  animation: slideUp 1s ease-in-out;
  border-radius:10px;
  width:300px;
  text-align: center;
  border: 1px inset rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.services-svg{
    height: 100px;
    width: 100px;
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}